<h3 class="text">Login</h3>
<form action="/login" method="POST">
    <div>
        <label class="text" for="username">Username</label>
        <input class="text" type="text" id="username" name="username">
    </div>
    <div class="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div class="form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="form">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country">
    </div>
    <button class="text" style="margin-top: 10px" type="submit">Login</button>
</form>
